.main-img img {
    height: 400px;
    width: 100%;
}

.welcome-container {
    width: 97%;
    margin: 15px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 20px;

    padding: 30px 36px;
    background-color: white;
    /* border: 3px solid gray; */
    border-radius: 15px;

}


.welcome-container .heading h1 {
    font-size: 40px;
    color: #6d2aed;
    /* position: absolute; */
    display: inline-block;
    border-bottom: 1px solid black;
    margin-bottom: 39px;
    font-weight: bold;
}

.welcome-container .content {
    font-size: 24px;
}


.helpdesk-container {
    width: 97%;
    margin: 15px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 20px;

    padding: 30px 36px;
    background-color: white;
    /* border: 3px solid gray; */
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #6d2aed;
    padding: 20px;
    gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.asked-container {
    width: 97%;
    margin: 15px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 20px;

    padding: 30px 36px;
    background-color: white;
    /* border: 3px solid gray; */
    border-radius: 15px;
    height: 50%;
}

.asked-container h1 {
    font-size: 40px;
    color: #6d2aed;
    /* position: absolute; */
    display: inline-block;
    border-bottom: 3px solid black;
    margin-bottom: 39px;
    font-weight: bold;
}

.btn-full {

    width: 100%;
    margin-top: 20px;

}

.btn-menu {
    width: 100%;
    padding: 22px;
    font-size: 22px;
}

.btn-font button{
    font-size: 25px;
    
}